/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {
  font-family: "impact";
  font-weight: 400;
  font-size: 50px;
  /* sets the font size to 50px */
  /* sets the line-height to 1.6 */
  text-align: center;
  text-transform: capitalize;
}

.navbar {
  background-color: #9f23c5;
  color: white;
}

.card {
  background-color: #eae6dd;
}

.row {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  /* background-color: #eae6dd; */
}

.picture {
  margin-top: 150px;
  text-align: center;
  width: 80%;
}

.list-i {
  list-style-type: none;
}

@media all and (max-width: 500px) {
  body {
    font-size: 30px;
    text-align: center;
  }
}
