body {
  font-family: "impact";
  font-weight: 400;
  font-size: 50px;
  /* sets the font size to 50px */
  /* sets the line-height to 1.6 */
  text-align: center;
  text-transform: capitalize;
}

.navbar {
  background-color: #9f23c5;
  color: white;
}

.card {
  background-color: #eae6dd;
}

.row {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  /* background-color: #eae6dd; */
}

.picture {
  margin-top: 150px;
  text-align: center;
  width: 80%;
}

/* .btnclass {
  border: none;
  font-size: 50px;
  display: inline-block;
  font-family: inherit;
  background-color: blue;
  color: yellow;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid;
  -webkit-transition: 2s opacity;
  transition: 2s opacity;
  margin: 15px;
  text-transform: capitalize;
}
button:hover,
button:focus,
btnclass {
  cursor: pointer;
  opacity: 0.6;
} */
.list-i {
  list-style-type: none;
}

@media all and (max-width: 500px) {
  body {
    font-size: 30px;
    text-align: center;
  }
  .btnclass {
    font-size: 30px;
    text-align: center;
  }
}
