body {
  font-family: "impact";
  font-weight: 400;
  font-size: 50px;
  /* sets the font size to 50px */
  line-height: 1.6;
  /* sets the line-height to 1.6 */
  text-align: center;
  text-transform: capitalize;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height 100%;
  background: lightgray;
  z-index: 999;
  overflow: auto;
  display: grid;
  text-align: center;
}

.modal {
  float: right;
  border: 0;
  background: none;
  color: black;
  text-transform: capitalize;

}

.modal h1{
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
}

.picture {
  text-align: center;
  width: 80%;
}
.box {
  width: 500px;
  padding: 10px;
  border: 5px solid gray;
  margin: auto;
  text-align: center;
}
.btnclass {
  border: none;
  font-size: 50px;
  display: inline-block;
  font-family: inherit;
  background-color: blue;
  color: yellow;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid;
  -webkit-transition: 2s opacity;
  transition: 2s opacity;
  margin: 15px;
  text-transform: capitalize;
}
button:hover,
button:focus,
btnclass {
  cursor: pointer;
  opacity: 0.6;
}
.list-i {
  list-style-type: none;
}

@media all and (max-width: 500px) {
  body {
    font-size: 30px;
    text-align: center;
  }
  .btnclass {
    font-size: 30px;
  }
}
